*{
    margin: 0;
    padding: 0;
}

body{
    padding: 0;
    font-family: 'Mooli', sans-serif;
}

footer{
    margin-top: 20px;
    background-color: rgb(58, 58, 58);
    color: white;
    text-align: center;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-para{
    width: 80%;
}

@media screen and (max-width:720px) {
    footer{
        font-size: 12px;
    }
}

@media screen and (max-width:356px) {
    footer{
        font-size: 10px;
    }
    
}
